<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<style>
    input {
    background-color: red;
    color: yellow;
    padding: 14px 20px;
    margin: 18px 20px ;
    border: none;
    cursor: pointer;
    width: 50%;
}
        body{
  background: url("http://dash.ga.co/assets/anna-bg.png");
}
    </style>
</head>

<body>
<b><h1><font color="white"> Successfully signed up! To further continue, click on Login</font></h1></b>

    <form action="/login/" method="get">
        <input type="submit" class="btn btn-default" value="Login">
    </form>
</body>
</html>




<!--<button type="submit" class="btn btn-default" name="Login" value="Login"></button>